<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{Layout/Layout}">
<head>
<meta charset="utf-8" />
<title>集会室利用申し込み</title>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
  <div layout:fragment="contents">
  <div class="container">
    <div class="card card-primary mb-3">
          <div class="card-header">
            <h5 class="card-title">入力フォーム</h5>
          </div>
        <div class="card-body">
              <form th:method="post" th:action="@{/meetings/admin}" th:object="${meeting_info}">
                                                                                     
<!--  部屋番号選択フォーム Model名＝roomid  -->            
               <div class="form-group row">
                   <label class="col-md-2 control-label">集会室番号</label>
                      <div class="col-md-5">
                        <select class="form-select form-select-sm" aria-label=".form-select-lg example" name="roomid" th:value="*{roomid}" >
                           <option selected>部屋番号</option>
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                         </select>  
                         <div th:if="${#fields.hasErrors('roomid')}" th:errors="*{roomid}"></div>
                       </div>                    
               </div>               
               
                        
<!--  ID入力フォーム  Model名＝username -->                  
                <div class="form-group row">
                    <label class="col-md-2 control-label">ユーザーID</label>
                    <div class="col-md-3">
                      <input class="form-control" type="text" name="username" th:value="*{username}"placeholder="ユーザーID"/>
                      <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                    </div>
                </div>
                
                
<!--  利用者名入力フォーム Model名＝owner  -->                  
                <div class="form-group row">
                    <label class="col-md-2 control-label">利用者名</label>
                    <div class="col-md-3">
                      <input class="form-control" type="text" name="owner" th:value="*{owner}"placeholder="利用者名"/>
                      <div class="text-danger" th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}"></div>
                    </div>
                </div>                                   
                                           
<!-- 　日時選択フォームフォーム Model名＝daytime  -->          
                <div class="form-group row">
                    <label class="col-md-2 control-label">利用日</label>
                    <div class="col-md-3">
                      <input class="form-control" type="date" name="start" th:value="*{start}"placeholder="利用日時"/>
                      <div class="text-danger" th:if="${#fields.hasErrors('start')}" th:errors="*{start}"></div>
                    </div>
                </div>   
<!-- 　日時選択フォームフォーム Model名＝daytime  -->          
                <div class="form-group row">
                    <label class="col-md-2 control-label">利用開始時間</label>
                    <div class="col-md-3">
                      <input class="form-control" type="time" step="3600" name="TimeStart" th:value="*{TimeStart}"placeholder="利用開始時間"/>
                      <div class="text-danger" th:if="${#fields.hasErrors('TimeStart')}" th:errors="*{TimeStart}"></div>
                    </div>
                </div>
<!-- 　日時選択フォームフォーム Model名＝daytime  -->          
                <div class="form-group row">
                    <label class="col-md-2 control-label">利用終了時間</label>
                    <div class="col-md-3">
                      <input class="form-control" type="time" step="3600" name="TimeEnd" th:value="*{TimeEnd}"placeholder="利用終了時間"/>
                      <div class="text-danger" th:if="${#fields.hasErrors('TimeEnd')}" th:errors="*{TimeEnd}"></div>
                    </div>
                </div>                
               
     
                     
<!--  用途選択フォーム Model名＝purpose  -->                   
                <div class="form-group">
                    <label class="col-md-2 control-label">用途</label>
                    <div class="col-md-5">
                        <select class="form-select form-select-sm" aria-label=".form-select-lg example"  name="title" th:value="*{title}" >
                            <option value="打合せ">打合せ</option>
                            <option value="自治会・子供会">自治会・子供会</option>
                            <option value="お稽古事">お稽古事</option>
                            <option value="理事会">理事会</option>
                        </select>
                    </div>
                </div>            
                
                
<!--  利用予定人数入力フォーム Model名＝people  -->                    
                <div class="form-group row">
                    <label class="col-md-2 control-label">利用予定人数</label>

                    <div class="col-md-2">
                      <input class="form-control" type="text" name="people" th:value="*{people}" placeholder="利用予定人数"/>
                      <div class="text-danger" th:if="${#fields.hasErrors('people')}" th:errors="*{people}"></div>
                    </div>
                </div>            
                
                
<!-- 　備考欄入力フォーム Model名＝remarks -->     
                <div class="form-group row">
                    <label class="col-md-2 control-label">備考欄</label>

                    <div class="col-md-10">
                      <input class="form-control" type="text" name="remarks" th:value="*{remarks}" placeholder="備考欄へは管理事務所へ要望事項がある場合のみ入力ください。"/>
                      <div class="text-danger" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}"></div>
                    </div>
                </div>      

<!--  DB送信用ボタン  -->                                 
                <div class="form-group row">
                    <div class="offset-md-2 col-md-10">
                      <button class="btn btn-primary">申請する</button>
                    </div>
                </div>                   
                
                
            </form>
        </div>
      </div>
    </div>
    </div>
</body>
</html>