<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{Layout/Layout}">
       
       
<head>
<meta charset="utf-8" />
<title>詳細ページ</title>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>


<body>
    <div layout:fragment="contents">
	<div class="container">
		<div class="card card-primary mb-3">
			<h1>ユーザー情報</h1>		
			<div class="card-body">
		        <div th:object="${user_info}">
		        
		        <!--  ID  Model名＝username -->    	
		          	<div class="form-group row">
		            	<label class="col-md-2 control-label">ユーザーID</label>
		            	<div class="col-md-10 form-control-static" th:text="*{username}"></div>
		          	</div>
	          	
		        <!-- 　連絡先 Model名＝address  -->   	
		          	<div class="form-group row">
		            	<label class="col-md-2 control-label">連絡先</label>
		            	<div class="col-md-10 form-control-static" th:text="*{address}"></div>
		          	</div>
		        <!-- 　勤務先 Model名＝Workplace  -->   	
		          	<div class="form-group row">
		            	<label class="col-md-2 control-label">勤務先</label>
		            	<div class="col-md-10 form-control-static" th:text="*{workplace}"></div>
		          	</div>
		          			          			          			          	          			          
       　　   	<!--  メールアドレス Model名＝Mailaddress  -->
		          	<div class="form-group row">
		            	<label class="col-md-2 control-label">メールアドレス</label>
		            	<div class="col-md-10 form-control-static" th:text="*{mailaddress}"></div>
		          	</div>
		        <!-- 　備考欄 Model名＝information -->  	
		          	<div class="form-group row">
		            	<label class="col-md-2 control-label">備考欄</label>
		            	<div class="col-md-10 form-control-static" th:text="*{information}"></div>
		          	</div>		
		          	<h1>登録情報に変更がある場合は、お問い合わせ或いは管理事務所までご連絡ください。</h1>
		          			          			          			          	
				</div>
			</div>
		</div>
    </div>
    </div>
</body>


</html>